@charset "UTF-8";
.u-desktop {
  display: none;
}

@media screen and (max-width: 1023px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (max-width: 1023px) {
  .u-mobile {
    display: none;
  }
}

/* FontFamily */
body {
  font-family: "Noto Sans JP", sans-serif;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 1.25vw;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 4.26667vw;
  }
}

/* pcの電話番号発信対応 */
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  a:hover {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #021212;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.appp {
  margin: 1px;
}

.about-block {
  position: relative;
  color: #EBEBEB;
  max-width: 700px;
  max-width: 43.75rem;
  width: 100%;
}

.about-block__title {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1;
}

.about-block__text {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.66667;
  font-weight: 400;
  margin-top: 24px;
  margin-top: 1.5rem;
}

.about-block__img {
  position: absolute;
}

.about-block__img--1 {
  width: 355px;
  width: 22.1875rem;
  left: -490px;
  left: -30.625rem;
}

@media screen and (max-width: 1439px) {
  .about-block__img--1 {
    left: -27.5rem;
  }
}

.about-block__img--2 {
  width: 398px;
  width: 24.875rem;
  right: -427px;
  right: -26.6875rem;
}

.about-block__img--3 {
  width: 350px;
  width: 21.875rem;
  left: -490px;
  left: -30.625rem;
}

@media screen and (max-width: 1439px) {
  .about-block__img--3 {
    left: -27.5rem;
  }
}

.about-block__img--4 {
  width: 387px;
  width: 24.1875rem;
  right: -427px;
  right: -26.6875rem;
}

.about__title {
  text-align: center;
  height: 121px;
  height: 7.5625rem;
  line-height: 1;
}

.about__title span {
  display: inline-block;
  position: relative;
  font-size: 70px;
  font-size: 4.375rem;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  color: #EBEBEB;
  padding: 0 5px;
  padding: 0 0.3125rem;
}

.about__inner.l-inner {
  max-width: 1090px;
  max-width: 68.125rem;
}

.about__title span:not(:first-child) {
  font-size: 50px;
  font-size: 3.125rem;
}

.about__title span:nth-child(2) {
  top: 10px;
  top: 0.625rem;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

.about__title span:nth-child(3) {
  top: 10px;
  top: 0.625rem;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

.about__title span:nth-child(4) {
  top: 10px;
  top: 0.625rem;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

.about__title span:nth-child(5) {
  top: 0px;
  top: 0rem;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

.about__title span:nth-child(6) {
  top: 20px;
  top: 1.25rem;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

.about__title span:nth-child(7) {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.about__title span:nth-child(8) {
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

.about__title span:nth-child(9) {
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

.about__title span:nth-child(10) {
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

.about__title span:nth-child(11) {
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

.about__title span:nth-child(12) {
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

.about__item:nth-child(2) {
  margin-top: 122px;
  margin-top: 7.625rem;
}

.about__item:nth-child(3) {
  margin-top: 131px;
  margin-top: 8.1875rem;
}

.about__item:nth-child(4) {
  margin-top: 122px;
  margin-top: 7.625rem;
}

.about__item:nth-child(odd) {
  margin-left: auto;
}

.about__noza-img {
  max-width: 980px;
  max-width: 61.25rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 121px;
  margin-top: 7.5625rem;
}

.content {
  position: relative;
}

.content__title {
  font-family: source-han-sans-japanese, sans-serif;
  color: #EBEBEB;
  font-size: 50px;
  font-size: 3.125rem;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 520px);
  top: 170px;
  top: 10.625rem;
}

.content__title span {
  display: inline-block;
  position: relative;
}

.content__title span:nth-child(1) {
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
  top: 35px;
  top: 2.1875rem;
}

.content__title span:nth-child(2) {
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
  top: 20px;
  top: 1.25rem;
}

.content__title span:nth-child(3) {
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
  top: 10px;
  top: 0.625rem;
}

.content__inner {
  padding-top: 260px;
  padding-top: 16.25rem;
  max-width: 1410px;
  max-width: 88.125rem;
  width: 100%;
  margin: auto;
}

.content__items {
  position: relative;
  padding-top: 49.64539%;
  background-image: url(../images/common/content_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.content__item {
  position: absolute;
}

.content__item:nth-child(1) {
  top: -210px;
  top: -13.125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.content__item:nth-child(2) {
  top: 300px;
  top: 18.75rem;
  left: 30px;
  left: 1.875rem;
}

.content__item:nth-child(3) {
  top: 360px;
  top: 22.5rem;
  right: 30px;
  right: 1.875rem;
}

.content__img {
  position: relative;
  width: 410px;
  width: 25.625rem;
}

.content__subtitle {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.66667;
  font-weight: 700;
  color: #EBEBEB;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.data__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  max-width: 90rem;
  width: 100%;
  margin: auto;
}

.data__gender,
.data__age {
  width: 50%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  height: 5rem;
  padding: 0 40px;
  padding: 0 2.5rem;
}

.header__title {
  width: 138px;
  width: 8.625rem;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-inner {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1330px;
}

@media screen and (max-width: 767px) {
  .l-inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.main-view {
  height: 50.69444vw;
  background-image: url(../images/common/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 13.88889vw;
}

.main-view__title {
  width: 44.44444vw;
}

.movie__img {
  position: relative;
  width: 558px;
  width: 34.875rem;
  margin: auto;
}

.movie__img::before {
  content: "";
  padding-top: 61.827957%;
  display: block;
}

.movie__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-data {
  margin-top: -50px;
  margin-top: -3.125rem;
}

.section-movie {
  margin-top: -50px;
  margin-top: -3.125rem;
}

.appp {
  margin: 1px;
}
